# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [11]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [12]:
url =  'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [13]:
chipo = pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?

In [14]:
chipo['price_float'] = pd.to_numeric(chipo.item_price.str.slice(1))

In [17]:
chipo.head
(chipo['price_float'] > 10).sum()

1130

In [27]:
chipo['price_per_item'] = chipo.price_float / chipo.quantity

In [28]:
product_prices = chipo.groupby('item_name').agg({'price_per_item':'max'})

In [29]:
(product_prices.price_per_item > 10).sum()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [23]:
product_prices

                                       price_float
item_name
6 Pack Soft Drink                            12.98
Barbacoa Bowl                                11.75
Barbacoa Burrito                             11.75
Barbacoa Crispy Tacos                        18.50
Barbacoa Salad Bowl                          11.89
Barbacoa Soft Tacos                          11.75
Bottled Water                                15.00
Bowl                                         22.20
Burrito                                       7.40
Canned Soda                                   4.36
Canned Soft Drink                             5.00
Carnitas Bowl                                35.25
Carnitas Burrito                             18.50
Carnitas Crispy Tacos                        17.98
Carnitas Salad                                8.99
Carnitas Salad Bowl                          11.89
Carnitas Soft Tacos                          11.75
Chicken Bowl                                 32.94
Chicken Burrito                              35.00
Chicken Crispy Tacos                         17.50
Chicken Salad                                10.98
Chicken Salad Bowl                           22.50
Chicken Soft Tacos                           21.96
Chips                                         6.45
Chips and Fresh Tomato Salsa                 44.25
Chips and Guacamole                          17.80
Chips and Mild Fresh Tomato Salsa             3.00
Chips and Roasted Chili Corn Salsa            5.90
Chips and Roasted Chili-Corn Salsa            2.39
Chips and Tomatillo Green Chili Salsa         5.90
Chips and Tomatillo Red Chili Salsa           5.90
Chips and Tomatillo-Green Chili Salsa         4.78
Chips and Tomatillo-Red Chili Salsa           7.17
Crispy Tacos                                  7.40
Izze                                          3.39
Nantucket Nectar                              6.78
Salad                                         7.40
Side of Chips                                13.52
Steak Bowl                                   26.07
Steak Burrito                                27.75
Steak Crispy Tacos                           17.98
Steak Salad                                   8.99
Steak Salad Bowl                             23.78
Steak Soft Tacos                             18.50
Veggie Bowl                                  16.98
Veggie Burrito                               33.75
Veggie Crispy Tacos                           8.49
Veggie Salad                                  8.49
Veggie Salad Bowl                            11.25
Veggie Soft Tacos                            16.98

In [24]:
chipo[chipo.item_name == 'Chicken Bowl']

,order_id,quantity,item_name,choice_description,item_price,price_float
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49,8.49
...,...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75,8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75

### Step 6. Sort by the name of the item

In [31]:
product_prices.sort_index()

                                       price_per_item
item_name
6 Pack Soft Drink                                6.49
Barbacoa Bowl                                   11.75
Barbacoa Burrito                                11.75
Barbacoa Crispy Tacos                           11.75
Barbacoa Salad Bowl                             11.89
Barbacoa Soft Tacos                             11.75
Bottled Water                                    1.50
Bowl                                             7.40
Burrito                                          7.40
Canned Soda                                      1.09
Canned Soft Drink                                1.25
Carnitas Bowl                                   11.75
Carnitas Burrito                                11.75
Carnitas Crispy Tacos                           11.75
Carnitas Salad                                   8.99
Carnitas Salad Bowl                             11.89
Carnitas Soft Tacos                             11.75
Chicken Bowl                                    11.25
Chicken Burrito                                 11.25
Chicken Crispy Tacos                            11.25
Chicken Salad                                   10.98
Chicken Salad Bowl                              11.25
Chicken Soft Tacos                              11.25
Chips                                            2.15
Chips and Fresh Tomato Salsa                     2.95
Chips and Guacamole                              4.45
Chips and Mild Fresh Tomato Salsa                3.00
Chips and Roasted Chili Corn Salsa               2.95
Chips and Roasted Chili-Corn Salsa               2.39
Chips and Tomatillo Green Chili Salsa            2.95
Chips and Tomatillo Red Chili Salsa              2.95
Chips and Tomatillo-Green Chili Salsa            2.39
Chips and Tomatillo-Red Chili Salsa              2.39
Crispy Tacos                                     7.40
Izze                                             3.39
Nantucket Nectar                                 3.39
Salad                                            7.40
Side of Chips                                    1.69
Steak Bowl                                      11.75
Steak Burrito                                   11.75
Steak Crispy Tacos                              11.75
Steak Salad                                      8.99
Steak Salad Bowl                                11.89
Steak Soft Tacos                                11.75
Veggie Bowl                                     11.25
Veggie Burrito                                  11.25
Veggie Crispy Tacos                              8.49
Veggie Salad                                     8.49
Veggie Salad Bowl                               11.25
Veggie Soft Tacos                               11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [34]:
chipo.price_float.idxmax()

3598

In [35]:
chipo.loc[3598, :]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                 $44.25
price_float                                  44.25
price_per_item                                2.95
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [37]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [39]:
(chipo[chipo.item_name == 'Canned Soda'].quantity > 1).sum()

20